---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar.astro';
import LoginPanel from '../components/LoginPanel.astro';
import CommandBar from '../components/CommandBar.astro';
import MfaGate from '../components/MfaGate.astro';
import AccountSecurity from '../components/AccountSecurity.astro';
import AttackRange from '../components/AttackRange.astro';
import SessionsTable from '../components/SessionsTable.astro';
import EventFeed from '../components/EventFeed.astro';
import StatusBar from '../components/StatusBar.astro';
---

<Layout>
  <TopBar />
  <LoginPanel />

  <main id="app" hidden>
    <CommandBar />
    <MfaGate />
    <AccountSecurity />
    <AttackRange />
    <SessionsTable />
    <EventFeed />
  </main>

  <StatusBar />
</Layout>

<script>
  // All dashboard behaviour lives in the lib/ modules; the page is declarative.
  import '../lib/dashboard';
</script>