<div class="cmdbar">
  <button class="key" data-act="refresh">[F5]&nbsp;REFRESH</button>
  <button class="key" data-act="logoutAll">[F9]&nbsp;KILL&nbsp;ALL</button>
  <button class="key danger" data-act="logout">[F10]&nbsp;LOGOUT</button>
  <span class="spacer"></span>
  <span class="who" id="who"></span>
</div>
