<header class="topbar">
  <span class="brand">AUTH&#8209;LAB <em>ATTACK RANGE</em><span class="cursor"></span></span>
  <span class="spacer"></span>
  <span class="tag" id="target">SRV —</span>
  <span class="conn off" id="conn">● LINK DOWN</span>
  <span class="clock" id="clock">--:--:--</span>
</header>
